@{
    ViewData["Title"] = "Home Page";
}


<h2>How to use the program</h2>
<ul>
    <li><p>In order to add transactions to the program, post new transactions as JSON objects to /api/TransactionsAPI.</p>
    <p>The format for these objects is:</p>
        [
            {
                "description": "uber help.uber.com"
            },
            {
                "description": "amazon eu sarl amazon.co.uk/"
            }
        ]</li>
    <p></p>
    <li><p>In order to view existing transactions, click the "View Transactions" button at the top of the site</p></li>
</ul>

